

.herolefttitle{
    width: 428px;
height: 80px;
flex-shrink: 0;
font-family: Jomhuria;
font-size: 54px;
font-style: normal;
font-weight: 400;
animation: bounce 0.5s infinite alternate;
background: linear-gradient(90deg, #F409DD 0%, #E9EC62 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left:250px;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px); /* Adjust the value to control the distance */
    }
  }
.layer0{
  margin-top: -650px;
}
.layer1{
  position:relative;top:-490px;
}
.layer2{
  position:relative;top:-200px;
}
.layer-gaming{
  position: relative;top:340px;
}
.layer-memes{
  position: relative;top:340px;
}
.layer-defi{
  position: relative;top:340px;
}
.layer2,.layer1,.layer0,.layer-gaming,.layer-memes,.layer-defi{
    margin-left:250px;
    color: #FFF;
font-family: Jomhuria;
font-size: 34px;
font-style: normal;
font-weight: 400;
line-height: normal;
width:100px;

}
.layer1:hover,.layer2:hover,.layer0:hover,.layer-gaming:hover,.layer-memes:hover{
    color:gold;
}


@media screen and (max-width: 640px){
    .herolefttitle{
        width: 250px;
        height: 100px;
        flex-shrink: 0;
        font-family: Jomhuria;
        font-size: 54px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: linear-gradient(90deg, #F409DD 0%, #E9EC62 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left:70px;
        }
        .layer2,.layer1,.layer0,.layer-gaming,.layer-memes,.layer-defi{
          margin-left:50px;
          position:relative;top:130px;
          color: #FFF;
          font-family: Jomhuria;
          font-size: 34px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          width:100px;
        }
        .layer0{
          margin-top: -650px;
        }
        .layer1{
          position:relative;top:-380px;
        }
        .layer2{
          position:relative;top:-120px;
        }
        .layer-gaming{
          position: relative;top:390px;
        }
        .layer-memes{
          position: relative;top:390px;
        }
        .layer-defi{
          position: relative;top:380px;
        }



    }
